$primary-color: #333;
$secondary-color: #fff;
$accent-color: salmon;
$text-color: #fff;
$background-color: #272525;
$navbar-toggler-color: #ccc; // Color gris para el navbar-toggler
$navbar-link-font: "Cinzel Decorative", serif; // Fuente para navbar links activos

body {
    background-color: $background-color;
    color: $secondary-color;

    header {
        background-color: $primary-color;
        color: $text-color;
        padding: 20px;
        text-align: center;

        .bg-img {
            width: 4rem;
            border-radius: 30%;
            align-items: center;
        }

        .navbar {
            background-color: $primary-color;
            color: $text-color;

            .navbar-brand {
                font-family: $navbar-link-font; 
                color: $navbar-toggler-color;
                &:hover {
                    color: $text-color;
                }
            }

            .navbar-nav {
                .nav-link {
                    color: $text-color;
                    &.active {
                        font-weight: bold;
                        font-family: $navbar-link-font; 
                        color: $navbar-toggler-color; 
                    }
                    &:hover {
                        color: $text-color;
                    }
                }
            }

            .navbar-toggler {
                border-color: $navbar-toggler-color;
                &:hover {
                    border-color: $navbar-toggler-color;
                }
                .navbar-toggler-icon {
                    background-color: black;
                }
            }
        }

        h1.titulo-producto {
            font-family: "Cinzel Decorative", serif;
            font-weight: 310;
            font-style: normal;
            font-size: 2.3rem;
        }
    }
    main {
        max-width: 1200px;
        margin: 20px auto;

        .titulo-pagina {
            font-family: "Cinzel Decorative", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            color: $text-color;
        }

        section {
            margin-bottom: 20px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;

            article {
                border: 4px $accent-color $primary-color;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: transform 0.4s;
                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 30vh;
                    height: 100%;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }

                p {
                    font-family: "Julius Sans One", sans-serif;
                    color: $text-color;
                    margin: 10px;
                    font-size: 1rem;
                }

                span {
                    margin: 10px;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }
    }

    footer {
        background-color: $primary-color;
        color: $text-color;
        text-align: center;
        padding: 20px;
    }
        // Estilos para pantallas medianas
    @media (max-width: 1396px) {
        
        header {
            padding: 10px;
        }
    
        .bg-img {
            width: 3rem;
        }
    
        .navbar .navbar-brand {
            font-size: 1.5rem;
        }
    
        .navbar .nav-link {
            font-size: 1rem;
        }
    
        h1.titulo-producto {
            font-size: 2rem;
        }
    
        main .titulo-pagina {
            font-size: 1.5rem;
        }
    
        main section {
            flex-direction: column;
            align-items: center;
            gap: 20px;
    
            article {
                width: 100%;
    
                img {
                    width: 100%;
                }
    
                p {
                    font-size: 1rem;
                }
    
                span {
                    font-size: 1.2rem;
                }
            }
        }
    }
    



    // Media query para tamaños de pantalla menores (móviles)
    @media (max-width: 768px) {
        header {
            padding: 10px;
            
            .bg-img {
                width: 3rem;
            }

            .navbar {
                .navbar-brand {
                    font-size: 1.5rem;
                }

                .nav-link {
                    font-size: 1rem;
                }
            }

            h1.titulo-producto {
                font-size: 2rem;
            }
        }

        main {
            .titulo-pagina {
                font-size: 1.5rem;
            }

            section {
                flex-direction: column;
                align-items: center;
                padding: 0;
                gap: 20px;
                article {
                    width: 100%;
                    img {
                        width: 100%;
                    }

                    p {
                        margin: 10px;
                        font-size: 1rem;
                    }

                    span {
                        margin: 10px;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
